<div id="home-section">
    <img src="img/green_logo.png" alt="color-logo">
    <h1 id="home-title">RECYCLICAT</h1>
    <p id="quote">“The greatest threat to our planet is the belief that someone else will save it.”<span id="quote-author"> – Robert Swan</span></p>

    <ul id="home-buttons">
        <li class="home-button-item"><a href="#motivation">Motivation</a></li>
        <li class="home-button-item"><a href="/demo">Demo</a></li>
        <li class="home-button-item"><a href="/app">Mobile App</a></li>
    </ul>
</div>

<div id="motivation">
    <h2>USA is a world leader in most fields, including waste generation!!</h2>
    <script async src="//jsfiddle.net/ezwubdkn/17/embed/result/"></script>
    <br>
    <p id="graph-caption">We aim to attack the problem by educating people about recycling, motivating them towards buying less, and making them aware of their environmental impact. <br><br>Surprisingly, this can be great for the economy too.</p>
    <img src="img/graphs.png" style="width: 1024px; height: 800px;" alt="graphs">
</div>
